[submodule "serializer_test/external/math"]
	path = serializer_test/external/math
	url = https://github.com/khalilhenoud/math.git
[submodule "serializer_test/external/library"]
	path = serializer_test/external/library
	url = https://github.com/khalilhenoud/library.git
